<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About us</a></li>
                        <li><a href="#run">YBH-5K RUN</a></li>
                        <li><a href="#theme">Run Theme</a></li>
                        <li><a href="#sponsors">Sponsors</a></li>
                        <li><a href="#contact">Contact us</a></li>
                    </ul>
                    <div class="btn regi-button" data-toggle="modal" data-target="#myModal"><span class="regi-text">Register for the event</span></div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Carousel
    ================================================== -->
<div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item  active size">
            <img class="img-responsive" alt="image" src="../images/Run1stpic.jpg">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item  ">
            <img class="img-responsive" alt="image" src="../images/stigma.jpg">
        </div>
        <div class="item  ">
            <img class="img-responsive" alt="image" src="../images/logo03.png">
        </div>
    </div>
</div>
<!-- /.carousel -->
<div class="container marketing">
    <hr>
    <div class="row" id="about">
        <div class="col-md-7">
            <h6 class="lead">About us <br><span class="text-muted"></span></h6>
            <p class="paraStyle">{{pageData.aboutUs.text}}</p>
            <p class="text-muted ptagStyle">AIMS</p>
            <div class="" ng-repeat="aim in pageData.aboutUs.aims">
                <p class="ptagStyle"> * {{aim}}</p>
            </div>
        </div>
        <div class="col-md-5">
            <img class=" img-responsive about-img" alt="500x500" ng-src="{{pageData.aboutUs.url}}" data-holder-rendered="true">
        </div>
        <p class="lead pull-left col-md-12"><a href="#">Back to top</a></p>
    </div>
    <!-- run-->
    <hr>
    <div class="row" id="run">
        <div class="col-md-6">
            <h6 class="lead">YBH-5K RUN Details <br><span class="text-muted"></span></h6>
            <div class="ptagStyle" ng-repeat="title in pageData.run[0].intro">
                <p class="ptagStyle">{{title}}
            </div>
            <p class="paraStyle">Date : {{pageData.run[0].date}}</p>
            <p class="paraStyle">Venue :{{pageData.run[0].venue}}</p>
            <div class="col-xs-12">
                <div class="btn regi-button pull-left" data-toggle="modal" data-target="#myModal"><span class="regi-text">Register for the event</span></div>
            </div>
        </div>
        <div class="col-md-5 col-xs-12">
            <img class=" img-responsive about-img" alt="500x500" ng-src="{{pageData.run[0].url}}" data-holder-rendered="true">
        </div>
        <p class="lead pull-left col-md-12"><a href="#">Back to top</a></p>
    </div>
    <!-- run ends-->
    <hr>
    <div class="row">
        <div class="col-md-10" id="theme">
            <p class="bold">RUN THEME</p>
            <h4 class="lead paraStyle">{{pageData.theme.title1}}</h4>
            <p class="lead ptagStyle">{{pageData.theme.title2}}
            </p>
            <div class="" ng-repeat="descp in pageData.theme.Desc">
                <p class="paraStyle">{{descp}}</p>
            </div>
            <div>
                <p class="paraStyle"><span class="bold">1) WHAT IS DEPRESSION?</span>
                    <p class="paraStyletheme">
                        <br>-Depression is a state of mind where individual has
                        <br>-Low mood most part of the day and almost every day.
                        <br>-Diminished interest in previously pleasurable activities and unable to enjoy.
                        <br>-Decreased energy leading to easy tiring for small efforts and unable to work. Along with these
                        individuals also have -Poor concentration affecting daily routine working and forgetting things.
                        <br>-Low at self
                        <br>-confidence where individual feels that he/she won’t be able to achieve anything though in the
                        past he/she was an achiever.
                        <br>-Feeling guilty without any mistake and excessive blaming himself/herself without any reason.
                        <br>-Feeling worthless of living.
                        <br>-Wishing for death, self
                        <br>-harming behaviour and attempting suicides.
                        <br>-Increased or decreased sleep.
                        <br>-Increased or decreased appetite (Weight loss or Weight gain > 5%).
                        <p class="ptagStyle paraStyletheme">THE SYMPTOMS SHOULD BE PERSISTENT FOR MORE THAN 2 WEEKS </p>
                    </p>
                    <p class="paraStyle"><span class=" bold"> 2) WHO ARE AT RISK OF DEPRESSION?</span>
                        <p class="paraStyletheme">
                            <br>Depression results from a complex interaction of social, psychological and Biological factors.
                            People who have gone through adverse life events (unemployment, bereavement, psychological trauma)
                            are more likely to develop depression.
                            <br>-Stressful life events (Love Failure, Death in Family, Work stress).
                            <br>-Living Alone.
                            <br>-Marital Issues.
                            <br>-Financial Stress.
                            <br>-Someone in family having depression.
                            <br>-Childhood bad experiences (Abusive Father, Single Parent).
                        </p>
                    </p>
                    <p class="paraStyle"><span class="bold">3) WHAT TO DO TO GET AWAY FROM DEPRESSION?</span>
                        <p class="paraStyletheme">
                            <br>-Talk to someone close, avoid staying alone.
                            <br>-Keep your daily routine same.
                            <br>-Keep your day busy.
                            <br>-Try sleeping for 8hrs.
                            <br>-Pick up an old hobby and start again.
                            <br>-Exercise daily or yoga and meditation helps you to improve symptoms.
                            <br>-Avoid food with high sugars and keep away from alcohol and other drugs.
                            <br>-Challenge your negative thoughts.</p>
                    </p>
                    <p class="paraStyle">
                        <span class="bold">4) WHEN TO SEE A DOCTOR?</span>
                        <p class="paraStyletheme">
                            <br>-When the symptoms are severe enough which are disturbing your Social, Occupational and Personal
                            life.
                            <br>-Avoid stigma on depression. It is curable once you approach for help.
                            <br>-As you talk about your fracture or any surgery feel free to talk about your state of mind,
                            after all mind is also part of you.
                        </p>
                    </p>
                    <p class="paraStyle"><span class="bold">5) HOW TO PREVENT DEPRESSION?</span>
                        <p class="paraStyletheme">
                            <br>-When the symptoms are severe enough which are disturbing your Social, Occupational and Personal
                            life.
                            <br>-Avoid stigma on depression. It is curable once you approach for help.
                            <br>-As you talk about your fracture or any surgery feel free to talk about your state of mind,
                            after all mind is also part of you.
                        </p>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-10">
            <div class="col-lg-3 hover-img" ng-repeat="img in pageData.carousalImg">
                <img class="img-square" ng-src="{{img.url}}" alt="sponser image" width="200" height="200">
                <p class="spon-style">{{url}}</p>
            </div>
        </div>
        <p class="lead pull-right col-md-12"><a href="#">Back to top</a></p>
    </div>
    <hr>
    <!-- Sponsorers -->
    <div class="row" id="sponsors" style="background-color: rgba(187, 202, 204, 0.46);padding: 30px;">
        <h4>EVENT SPONSORS</h4>
        <div class="col-lg-3" ng-repeat="spon in pageData.sponsers" ng-if="spon.url!=''">
            <img class="img-square" ng-src="{{spon.url}}" alt="sponser image" width="150" height="120">
            <p class="spon-style">{{spon.name}}</p>
        </div>
        <p class="lead pull-left col-md-12"><a href="#">Back to top</a></p>
    </div>
    <hr>
    <div class="row contact-style" id="contact">
        <div class="col-md-offset-1">
            <h6 class="lead">Contact us. </h6>
            <p class="lead"><span class="glyphicon glyphicon-earphone"></span> call : {{pageData.contact.mobile}}</p>
            <p class="lead"><span class="glyphicon glyphicon-envelope"></span> Email : {{pageData.contact.email}}</p>
            <p class="lead"><span></span> We are also available on facebook</p>
            <img class="img-circle" src="../images/facebook.png" /> <a class="lead" href="https://www.facebook.com/YouthforBetterHYD/">https://www.facebook.com/YouthforBetterHYD/</a>
        </div>
        <p class="lead pull-right"><a href="#">Back to top</a></p>
    </div>
    <!-- sponsorers-->
</div>
<!--modal for registration -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Registration Form</h4>
            </div>
            <div class="modal-body">
                <form name="regiform">
                    <div class="form-group" ng-class="{ 'has-error' : regiform.name.$invalid && !regiform.name.$pristine }">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" ng-model="regUser.name" required>
                        <p ng-show="regiform.name.$invalid && !regiform.name.$pristine" class="help-block">Your name is required.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : regiform.email.$invalid && !regiform.email.$pristine }">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" ng-model="regUser.email">
                        <p ng-show="regiform.email.$invalid && !regiform.email.$pristine" class="help-block">Enter a valid email.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : regiform.contact.$invalid && !regiform.contact.$pristine }">
                        <label>Contact</label>
                        <input type="number" name="contact" class="form-control" ng-model="regUser.contact" required>
                        <p ng-show="regiform.contact.$invalid && !regiform.contact.$pristine" class="help-block">Enter a valid number.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : regiform.address.$invalid && !regiform.address.$pristine }">
                        <label>Address</label>
                        <input type="text" name="address" class="form-control" ng-model="regUser.address">
                        <p ng-show="regiform.address.$invalid && !regiform.address.$pristine" class="help-block">Your name is required.</p>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="regUser.volunteer"> Join as a volunteer
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="registerNewUser(regUser)" ng-disabled="regiform.$invalid" data-dismiss="modal">Register</button>
            </div>
        </div>
    </div>
</div>